<div class="col-lg-3">
    <h2>Menu</h2>
    <ul class="list-group">
        <li class="list-group-item"><strong>Products</strong></li>
        <li class="list-group-item"><a href="/admin/product/new">New</a></li>
        <li class="list-group-item"><a href="/admin/products">List</a></li>
        <li class="list-group-item"><strong>Orders</strong></li>
        <li class="list-group-item"><a href="/admin/orders">List</a></li>
        <li class="list-group-item"><strong>Users</strong></li>
        <li class="list-group-item"><a href="/admin/user/new">New</a></li>
        <li class="list-group-item"><a href="/admin/users">Edit</a></li>
        <li class="list-group-item"><a href="/admin/user/edit/{{session.user_id}}">My Account</a></li>
    </ul>
</div>